.cards {
  /* fonts */
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;

}

.card__list-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  /* overflow: hidden;
  white-space: nowrap; */
  
}
.cards__image {
  width: 282px;
  height: 282px;
}

.cards__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.cards__like-button {
  background: url(../images/Heart\ Vector.svg);
  width: 21px;
  height: 18px;
  flex-shrink: 0;
}

/* .cards {
  display: flex;
  justify-content: center;
} */
@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 551px) and (max-width: 950px) {
}

@media screen and (min-width: 321px) and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
}
