.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
}

.card__title {
  max-width: 220px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
}

.card__like-button {
  background: url(../images/heart-vector.svg);
  width: 21px;
  height: 18px;
  flex-shrink: 0;
  border: none;
}

.card__like-button_active {
  background-image: url("../images/heart-vector-active.svg");
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.card__like-button:focus {
  filter: grayscale(100%);
}

.card__trash {
  background-image: url("../images/trashCan.svg");
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 20px;
  display: flex;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
}

.card__trash:hover {
  opacity: 0.5;
  cursor: pointer;
}
