.footer {
  margin: 0 auto;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.footer__content {
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-size: 14px;
  }

  .footer__content {
    margin: 48px 0 36px 0;
}
