.footer {
  margin: 0 auto;
  color: #545454;
  padding-top: 3vh;
  padding-bottom: 3vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (min-width: 551px) and (max-width: 950px) {
  .footer {
    width: calc((282px * 2) + 17px);
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 550px) {
  .footer {
    width: 282px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 282px;
  }
}
