.footer {
  margin: 0 auto;
  color: #545454;
  padding-top: 3vh;
  padding-bottom: 3vh;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.footer__content {
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .footer {
    min-width: 282px;
    margin: 0 19px 0 19px;
    flex-direction: column;
    font-size: 14px;
  }
}
