.header {
  margin-top: 45px;
  /* display: flex;
  justify-content: flex-start; */
  /* width: 880px;
  height: 74px;
  left: 200px;
  top: 45px; */
  /* width: 880px;
  height: 74px;
  left: 200px;
  top: 45px; */
  /* background-color: aqua; */
}

.header__logo {
}
