.header {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 45px;
}

.header__content {
  width: 100%;
  display: flex;

  flex-direction: column;
}

.header__logo {
  align-self: start;

  margin-bottom: 30px;
}

.header__line {
  display: flex;
  align-items: center;
  max-width: 880px;
  opacity: 70%;
  width: 100%;
}

/* @media screen and (max-width: 1280px) {
}

@media screen and (min-width: 551px) and (max-width: 950px) {
  .header__content {
    padding-left: 10vw;
  }
} */

@media screen and (min-width: 321px) and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;

    align-items: center;
    min-width: 282px;
    flex-direction: column;
  }
}
