.page {
  max-width: 100%;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .page__content {
    max-width: 282px;
  }
  .page__content {
    max-width: 282px;
    min-width: 282px;
    margin: 0 auto;
    padding: 0 auto;
  }
  .page__section {
    max-width: 282px;
    min-width: 282px;
    flex-direction: column;
  }
}
