.profile {
  display: flex;
  align-items: center;
  padding-top: 36.25px;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
}

.profile__info {
  display: flex;
}

.profile__name-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  align-self: center;
}

.profile__name {
  padding: unset;
  margin: 0 auto;
  width: fit-content;
  margin-right: 16px;
  /* margin-left: 0; */
  max-width: 373px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 5px;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

.profile__title {
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  align-self: center;
  display: flex;
  align-items: center;

  border: 2px solid #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../images/plus_sign.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
  .profile {
    flex-direction: column;
  }
  .profile__add-button {
    margin-left: 0;
    width: 282px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    flex-direction: column;

  }

  .profile__image {
    margin-left: 72.75px;
    margin-right: 72.75px;
  }

  .profile__name {
    margin-top: 26.25px;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }
  .profile__title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 282px;
  }

  .profile__add-button {
    margin: 36px auto 0 auto;
    width: 282px;
  }

  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
