.cards {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  margin-top: 47.25px;
}

@media screen and (max-width: 400px) {
  .cards {
    flex-direction: column;
  }
}
